<html>


<head>
    <title>Brachytherapy dose reporter</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script type="text/javascript">
    window.onload = function() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1;//January is 0!
      var yyyy = today.getFullYear();
      if(dd<10) {
          dd='0'+dd
      }
      if(mm<10) {
          mm='0'+mm
      }
      today_pretty = dd+'/'+mm+'/'+yyyy;
      document.getElementById("show_date").innerHTML = today_pretty;
    };
    </script>
    <style>
    h4 {
      font-style: italic;
    }
    </style>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Brachytherapy Dose Reporter</a></h1>
        <h4 id="show_date"></h4>
        <a href="{% url 'index' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span>   Home</a>
        <a href="{% url 'patient_list' %}" class="top-menu"><span class="glyphicon glyphicon-eye-open"></span>   View patients</a>
        <a href="{% url 'patient_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus-sign"></span>   Add a patient</a>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
