
{% extends 'doseapp/base.html' %} {% block content %}

  <table class="table table-hover table-bordered" width="100">
    <col width="130">
<col width="80">
    <tr>
<th>Patient ID: </th>
<td>{{ patient.patient_id }}</td>

    </tr>

    <tr>
<th>First name: </th>
<td>{{ patient.first_name }}</td>
    </tr>

    <tr>
<th>Last name: </th>
<td>{{ patient.last_name }}</td>
    </tr>

  </table>

<div class="fraction">
    <table class="table table-hover table-bordered">
        <tr>
            <th>Fraction</th>
            {% for fraction in fractions %}
            <td>{{ fraction.fraction_number }}</td>
            {% endfor %}
        </tr>

        <tr>
            <th>D90</th>
            {% for fraction in fractions %}
            <td>{{ fraction.D90 }}</td>
            {% endfor %}
        </tr>

        <tr>
          <td>

          </td>
          {% for fraction in fractions %}
            <td><a class="btn btn-default" href="{% url 'fraction_edit' pk=patient.patient_id fraction_num=fraction.fraction_number %}"><span class="glyphicon glyphicon-pencil"></span>  Edit fraction</a> </td>
            {% endfor %}

        </tr>
    </table>
</div>


<a href="{% url 'fraction_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>   Add a new fraction</a>
<p>

</p>

<a href="{% url 'patient_list' %}" class="top-menu"><span class="glyphicon glyphicon-step-backward"></span>    Back</a>
<a class="btn btn-default" href="{% url 'patient_edit' pk=patient.patient_id %}"><span class="glyphicon glyphicon-pencil"></span>  Edit patient</a>

{% endblock %}
