<style>
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
</style>
{% extends 'doseapp/base.html' %} {% block content %}

<div class="patient">
    <h4>Patient ID: {{ patient.patient_id }}</h4>
    <h4>First name:{{ patient.first_name }}</h4>
    <h4>Last name:{{ patient.last_name }}</h4>
</div>
<div class="fraction">
    <table class="table table-hover">
        <tr>
            <th>Fraction</th>
            {% for fraction in fractions %}
            <td>{{ fraction.fraction_number }}</td>
            {% endfor %}
        </tr>

        <tr>
            <th>D90</th>
            {% for fraction in fractions %}
            <td>{{ fraction.D90 }}</td>
            {% endfor %}
        </tr>

        <tr>
          <td>

          </td>
          {% for fraction in fractions %}
            <td><a class="btn btn-default" href="{% url 'fraction_edit' pk=patient.patient_id fraction_num=fraction.fraction_number %}"><span class="glyphicon glyphicon-pencil"></span>  Edit fraction</a> </td>
            {% endfor %}

        </tr>
    </table>
</div>


<a href="{% url 'fraction_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>   Add a new fraction</a>
<p>

</p>

<a href="{% url 'patient_list' %}" class="top-menu"><span class="glyphicon glyphicon-step-backward"></span>    Back</a>
<a class="btn btn-default" href="{% url 'patient_edit' pk=patient.patient_id %}"><span class="glyphicon glyphicon-pencil"></span>  Edit patient</a>

{% endblock %}
